body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #FFF;
}

.navbar-toggler-icon {
}

.navbar li a.nav-link {
    color: #0793e0;
}

#profile-image {
    width: 284px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -9;
}


h1 {
    font-size: 56px;
    font-weight: bolder;
    color: #0793e0;
    line-height: 1.4em;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#section1 .container {
    margin-left: 300px;
}

#section3 h1 {
    font-size: 26px;
}

#section2 p {
    font-size: 26px;
    font-weight: bolder;
    color: #0793e0;
}

.section{
    background: url("../images/bg.jpg") no-repeat right bottom #fff;
    background-size: cover;
}

#section4 {
    background: #0793e0;
}

#section4 .container {
    max-width: 400px;
    margin: 0 auto;
}

#section4 h1 {
    color: #fff;
}

#form input ,
#form textarea {
    border: 1px solid #fff;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin: 12px 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0793e0;
    font-weight: bolder;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #0793e0;
    font-weight: bolder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #0793e0;
    font-weight: bolder;
}
:-moz-placeholder { /* Firefox 18- */
    color: #0793e0;
    font-weight: bolder;
}

#btn {
    margin-top: 20px;
    font-weight: bolder;
    width: 100%;
    background: #fff;
    color: #0793e0;
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

#btn[disabled] {
    color: gray;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
    #navbarCollapse {
        display: flex!important;
        justify-content: flex-end!important;
    }
}

@media (max-width: 576px) {
    .navbar {
        background: #fefefe;
        border-bottom: 1px solid #eee;
    }
}

@media (max-width: 992px) {
    .section {
        background-size: contain;
    }
    #profile-image {
        display: none;
    }
    #section1 .container {
        margin-left: auto;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}


@media (min-width: 1400px) {
    #profile-image {
        width: 390px;
    }
    #section1 .container {
        margin-left: 390px;
    }
}

